@page "/products"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin,Admin")]
@using Microsoft.AspNetCore.Components.QuickGrid
@using BikePOS.Models
@using BikePOS.Application.Queries
@inject ListProductsQueryHandler ListProducts
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create">Create New</a>
</p>

<QuickGrid Class="table" Items="products.AsQueryable()">
    <PropertyColumn Property="product => product.Name" />
    <PropertyColumn Property="product => product.Sku" />
    <PropertyColumn Property="product => product.Price" />
    <PropertyColumn Property="product => product.QuantityInStock" />
    <PropertyColumn Property="product => product.Category" />

    <TemplateColumn Context="product">
        <a href="@($"products/edit?id={product.Id}")">Edit</a> |
        <a href="@($"products/details?id={product.Id}")">Details</a> |
        <a href="@($"products/delete?id={product.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await ListProducts.HandleAsync();
    }
}
